<h1>Acerca de los Heroes</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto repellat laudantium perferendis asperiores delectus, nesciunt vero deserunt. Incidunt aliquam odio facere labore, consectetur dolor, earum doloribus inventore laborum, ratione voluptates.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ad eum blanditiis tenetur debitis. Soluta sunt est consectetur incidunt eum a necessitatibus quasi recusandae deleniti sit, odit neque eaque ducimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ab odit veniam laborum. Error labore corrupti saepe? Velit in ut incidunt sint nam atque labore, similique minus veritatis tempore nulla.
</p>